@model RakamIKProjesi.Models.Siniflar.Departmanlar
@{
    ViewBag.Title = "DepartmanVeri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-top:30px">Rakam Teknoloji | Departman Güncelle</h2>

<!-- Bu sayfa yüklendikten sonra bir post işlemi gerçekleştirdiğinde hangi ActionResultın çalışacağı; -->
@using (Html.BeginForm("DepartmanGuncelle", "Departmanlar", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.DepartmanID) <!-- ID değerini gizli şekilde tutacak-->

    @Html.LabelFor(x => x.DepartmanAd)
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })


    @Html.LabelFor(x => x.Aktiflik)
    @Html.CheckBoxFor(x => x.Aktiflik, new { @checked = "checked" })
</div>
    <button class="btn btn-warning">Güncelle</button>
}


