@model RakamIKProjesi.Models.Siniflar.Departmanlar

@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Rakam Teknoloji | Yeni Departman Oluştur</h3>
<br />
<form class="form-group" method="post">
    <!--<p>Departman Adı:</p> yapısını DRY prensibine uymadığı için kullanmıyorum, direkt veritabanından çekiyorum; -->
    @Html.LabelFor(x => x.DepartmanAd)
    @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" }) <!--Lambda Operation; x => x, atama yapar.-->
    <br />

    @Html.Label("aktif-departman", "Aktif Departman") @Html.RadioButtonFor(x => x.Aktiflik, true, new { id = "aktif-departman", Checked = "checked" }) <br />
    @Html.Label("pasif-departman", "Pasif Departman") @Html.RadioButtonFor(x => x.Aktiflik, false, new { id = "pasif-departman" })
    <br />

    <button class="btn btn-info" style="margin-top:30px">Oluştur</button>
</form>