@using RakamIKProjesi.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Projeler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3 style="margin-top:30px; margin-bottom:30px">Projeler</h3>
<hr />
<br />


@using (Html.BeginForm("IndexArama", "Projeler", FormMethod.Get))
{
    <p>
        Personel Adına Göre: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<br />

<table class="table table-bordered">
    <tr>
        <th>Proje ID</th>
        <th>Proje Adı</th>
        <th>Proje Türü</th>
        <th>Başlangıç Tarihi</th>
        <th>Proje Aktifliği</th>
        <th>Proje Güncelleme</th>
        <th>Durum Güncelleme</th>
    </tr>
    @foreach (var proje in Model)
    {
        <tr>
            <td>@proje.ProjeID</td>
            <td>@proje.ProjeAd</td>
            <td>
                @if (@proje.KullanilanTeknoloji == 1.ToString())
                {
                    <p>E-Ticaret</p>
                }
                else if (@proje.KullanilanTeknoloji == 2.ToString())
                {
                    <p>CRM</p>
                }
                else if (@proje.KullanilanTeknoloji == 3.ToString())
                {
                    <p>Mobil Uygulama</p>
                }
                else if (@proje.KullanilanTeknoloji == 4.ToString())
                {
                    <p>Sanal Pos, Ödeme</p>
                }
                else if (@proje.KullanilanTeknoloji == 5.ToString())
                {
                    <p>Kurumsal Uygulamalar</p>
                }
                else if (@proje.KullanilanTeknoloji == 6.ToString())
                {
                    <p>Canlı Destek</p>
                }
                else
                {
                    <p>Bakım</p>
                }
            </td>
            <td>@proje.BaslangicTarihi</td>
            <td>
                @if (proje.ProjeAktifligi == true)
                {
                    <p>Aktif</p>
                }
                else
                {
                    <p>Pasif</p>
                }
            </td>
            <td>
                <a href="/Projeler/ProjeVeri/@proje.ProjeID">Güncelle</a>
            </td>
            <td>
                @if (proje.ProjeAktifligi == true)
                {
                    <a href="/Projeler/ProjeTamamla/@proje.ProjeID" style="color:green">Tamamlandı Olarak İşaretle</a>
                }
                else
                {
                    <a href="/Projeler/ProjeDevamEt/@proje.ProjeID" style="color:red">Tamamlanmadı Olarak İşaretle</a>
                }
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {
        {"page-link"}
    }
})

<a href="/Projeler/YeniProje/" class="btn btn-info">Yeni Proje</a>

