@model RakamIKProjesi.Models.Siniflar.Projeler
@{
    ViewBag.Title = "ProjeVeri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="margin-top:30px">Proje Güncelle</h3>
@*Bu sayfa yüklendikten sonra bir post işlemi gerçekleştirdiğinde hangi ActionResultın çalışacağı;*@

<hr />

@using (Html.BeginForm("ProjeGuncelle", "Projeler", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ProjeID)

    @Html.Label("Proje Adı")
    @Html.TextBoxFor(x => x.ProjeAd, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.KullanilanTeknoloji)
    @Html.TextBoxFor(x => x.KullanilanTeknoloji, new { @class = "form-control" })
    <br />
    @Html.Label("Proje Başlangıç Tarihi")
    @Html.TextBoxFor(x => x.BaslangicTarihi, new { @class = "form-control" })
    <br />
    <hr />

    @Html.Label("Proje Aktifliği")
    @Html.CheckBoxFor(x => x.ProjeAktifligi, new { @class = "checked" })

    <br />

    <button class="btn btn-warning" style="margin-top:20px">Güncelle</button>
}