@model RakamIKProjesi.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="margin-top:30px;margin-bottom:30px">Yeni Personel Kaydı</h3>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.PersonelAd)
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />

    @Html.Label("Personel Yetkinliği")
    @Html.DropDownListFor(x => x.BirimID, (List<SelectListItem>)ViewBag.birimKayit, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Departman)
    @Html.DropDownListFor(x => x.DepartmanID, (List<SelectListItem>)ViewBag.yeniPersonelDepartman, new { @class = "form-control" })
    <br />
    @Html.Label("Personelin Atanacağı Proje (Manuel Seçim)")
    @Html.DropDownListFor(x => x.ProjeID, (List<SelectListItem>)ViewBag.personelProjeKaydi, new { @class = "form-control" })
    <br />
    @Html.Label("Maaş")
    @Html.TextBoxFor(x => x.Maas, new { @class = "form-control" })

    <hr />
    @Html.Label("aktif-calisan", "Aktif Personel") @Html.RadioButtonFor(x => x.PersonelAktif, true, new { id = "aktif-calisan", Checked = "checked" }) <br />
    @Html.Label("pasif-calisan", "Pasif Personel") @Html.RadioButtonFor(x => x.PersonelAktif, false, new { id = "pasif-calisan" })
    <hr /> <br />
    <button class="btn btn-primary">Personel Oluştur</button>
</form>